@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900');
body{
  font-family: "Roboto",sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  max-width: 100vw;
  overflow-x: hidden  ;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  font-size: 1;
  transition: background-color 600000s 0s, color 600000s 0s;
}
.App{
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
}
.App.changing{
  animation: changingPage 1.2s 1s ease forwards;
}
@keyframes changingPage{
  0%{ opacity: 1}
  50%{ opacity: 0}
  100%{ opacity: 1}
}
header{
  position: sticky;
  width: 100%;
  min-width: 1200px;
  z-index: 100;
  top:0;
  box-shadow: 0 2px 2px 0.5px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.header_top{
  height: 34px;
  background-color: #f8f8f8;
}
.header_containerTop{
  display: flex;
  align-items: center;
  height: 34px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.header_offers{
  padding: 0;
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0 60px;
}

.header_location{
  display: flex;
  cursor: pointer;
  margin: 0 20px;
}
.header_city{
  margin: 2px 0 0 5px;
  text-decoration: underline;
  display: inline-block;
  align-items: flex-end;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .08em;
  color: rgb(133, 133, 133);
}
.header_offers li{
  margin: 0 10px;
}
.header_offers li a{
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .08em;
  color: #777;
  text-decoration: none;
}
.header_offers li.active a{
  color: black;
}
.header_containerBot{
  box-sizing: border-box;
  width: 1200px;
  height: 80px;
  align-items: center;
  margin: 0 auto;
  display: flex;
}
.header_logo img{
  width: 130px;
  height: 60px;
}
.header_activity{
  display: flex;
  list-style: none;
}
.header_activity li{
  margin: 0 15px;
}
.header_activity li a{
  font-size: 15px;
  text-decoration: none;
  color:black;
}
.header_activity li.active a{
  color: #00a942;
}

.header_login,.header_quit{
  cursor: pointer;
  box-sizing: border-box;
  offset: 0;
  margin: 0 50px 0 auto;
  border: none;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  color:white;
  font-size: 12px;
  font-weight: 800;
  background-color: #00a942;
}
.header_login:hover{
  animation: loginBtn 0.3s ease forwards;
}
.header_userBlock{
  display: flex;
  align-items: center;
  width: fit-content;
  height: 30px;
  margin-left: auto;
}
.header_cabinet{
  display: flex;
  align-items: center;
  text-decoration: none;
  color:#212121;
}
.header_photo{
  box-sizing: border-box;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.header_name{
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
.header_name:hover{
  animation: nameAnim 0.2s forwards;
}
.header_quit{
  margin: 0 0 0 10px;
}
@keyframes loginBtn{
  from{
    background-color: #00a942;
  }
  to{
    background-color: #2eb964;
  }
}
@keyframes nameAnim {
  to{
    color:#00a942;
  } 
}

footer{
  width: 100%;
  min-width: 1200px;
  height: 400px;
  background-color: #212121;
  color: white;
}
.footer_container{
  margin: 0 auto;
  max-width: 1200px;
}
.footer_top{
  margin-top: 50px;
  display:flex;
  justify-content: space-between;
}
.footer_forPeople{
  width: 420px;
}
.footer_activiyList{
  padding: 0;
  height: 130px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
}
.footer_activity ul li{
  line-height: 30px;
  font-weight: 300;
}
.footer_activity ul li a{
  color:white;
  text-decoration: none;
  cursor: pointer;
}

.footer_call{
  width: 400px;
  margin-top: 20px;
}
.footer_call input{
  width: 95%;
  height: 55px;
  font-size: 20px;
  padding-left: 20px;
  background-color: #424242;
  color:white;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.footer_call input:focus{
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: 0;
}

.footer_call p, .footer_call a{
  color:white;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  font-size: 13px;
  font-weight: 300;
  border-bottom: 1px solid #4f4f4f;
}
.footer_bot{
  margin-top: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer_bot p, .footer_bot a{
  font-size: 12px;
  color: white;
}
